.App {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.table-wrapper {
  padding-top: 20px;
}

.category-table {
  width: 200px;
}
.category-table th {
  text-align: left;
}

.category-table th,
.category-table td {
  border: 1px solid gray;
}
